        {% load static i18n %}
        <!-- Navbar -->
        <header class="header navbar navbar-expand-lg navbar-light bg-light navbar-sticky" data-scroll-header data-fixed-element>
            <div class="container px-0 px-xl-3">
                <button class="navbar-toggler ms-n2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu"><span class="navbar-toggler-icon"></span></button>
                <a class="navbar-brand flex-shrink-0 order-lg-1 mx-auto ms-lg-0 pe-lg-2 me-lg-4" href="{% url 'home' %}">
                    <img class="d-none d-lg-block" src="{% static 'img/portfolio.svg' %}" alt="DevFolio" width="50">
                    <img class="d-lg-none" src="{% static 'img/portfolio.svg' %}" alt="DevFolio" width="50">
                </a>
                <div class="offcanvas offcanvas-collapse order-lg-2" id="primaryMenu">
                    <div class="offcanvas-header navbar-shadow">
                        <h5 class="mt-1 mb-0">Menu</h5>
                        <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <!-- Menu-->
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown dropdown-mega"><a class="nav-link dropdown-toggle" href="{% url 'home' %}" data-bs-toggle="dropdown">.devfolio</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-column dropdown-column-img bg-secondary" href="{% url 'home' %}" style="background-image: url({% static 'img/portfolio.svg' %}); background-position: center;"></a>
                                    <div class="dropdown-column">
                                        <a class="dropdown-item" href="{% url 'home' %}">{% translate "Home" %}</a>
                                        <a class="dropdown-item" href="{% url 'about' %}">{% translate "About" %}</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- /. navbar-nav -->
                </div> <!-- /.offcanvas - Primary Menu-->
            </div> <!-- /.container -->
        </header> <!-- /.navbar-->
