        {% load static i18n %}

        {% url 'portfolio:home' as home_url %}

        <!-- Navbar -->
        {% if navbar_dark %}
        <header class="header navbar navbar-expand-lg navbar-floating navbar-sticky navbar-dark" data-scroll-header data-fixed-element>
            {% elif navbar_floating %}
            <header class="header navbar navbar-expand-lg navbar-floating navbar-sticky navbar-light" data-scroll-header data-fixed-element>
                {% else %}
                <header class="header navbar navbar-expand-lg navbar-light bg-light navbar-sticky" data-scroll-header data-fixed-element>
                    {% endif %}
                    <div class="container px-0 px-xl-3">
                        <button class="navbar-toggler ms-n2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapseMainMenu" id="navbarToggleButton">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand flex-shrink-0 order-lg-1 mx-auto ms-lg-0 pe-lg-2 me-lg-4" href="{% url 'portfolio:home' %}">
                            <img class="d-none d-lg-block" src="{% static 'img/portfolio.svg' %}" alt="devfolio" width="50">
                            <img class="d-lg-none" src="{% static 'img/portfolio.svg' %}" alt="devfolio" width="50">
                        </a>
                        {% if request.user.is_authenticated %}
                        <div class="d-flex align-items-center order-lg-3 ms-lg-auto">
                            <div class="navbar-tool dropdown">
                                <a class="navbar-tool-label dropdown-toggle" href="{% url 'admin:index' %}">
                                    <small>Hello,</small>{{ request.user.username|capfirst }}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" style="width: 15rem;">
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="{% url 'admin:index' %}">
                                            <i class="ai-key fs-base opacity-60 me-2"></i>
                                            Admin
                                        </a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="{% url 'account_logout' %}">
                                            <i class="ai-log-out fs-base opacity-60 me-2"></i>
                                            Sign out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        <div class="collapse navbar-collapse order-lg-2" id="navbarCollapseMainMenu">
                            <ul class="navbar-nav me-auto">
                                {% if request.path == home_url %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="#" data-scroll onclick="navbarToggleButton.click()">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#about-me" data-scroll>What I Do Best</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#skills" data-scroll>My Skills</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#portfolio" data-scroll>My Projects</a>
                                </li>
                                {% else %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'portfolio:home' %}">Home</a>
                                </li>
                                {% endif %}
                                {% if request.user.is_authenticated %}
                                <li class="nav-item d-sm-none">
                                    <a class="nav-link" href="{% url 'account_logout' %}">Sign out</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div> <!-- /.collapse #navbarCollapseMainMenu -->

                    </div> <!-- /.container -->
                </header> <!-- /.navbar-->
