/* DevFolio styles */

/* Alerts */
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* Main Dropdown Menu  */

.navbar-expand-lg .dropdown-mega .dropdown-column {
  padding: 3rem 0.75rem;
}
