{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>devfolio | {% block title %} A Portfolio Manager for Web Developers & Designers {% endblock title %}</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="An Online Portfolio Management System for Web Developers and Designers.">
    <meta name="keywords" content="portfolio content management web developer designer">
    <meta name="author" content="Raoul Capello">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="{% static 'css/simplebar.min.css' %}" />
    {% block vendor_styles %}{% endblock vendor_styles %}
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="{% static 'css/theme.min.css' %}">
    <!-- devfolio Stylesheet -->
    <link rel="stylesheet" media="screen" href="{% static 'css/devfolio.css' %}">
    {% comment %}
    <link rel="stylesheet" media="screen" href="{% static 'css/page-load-spinner.css' %}"> {% endcomment %}
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
    <script defer src="{% static 'js/devfolio.js' %}"></script>
    {% comment %} <script defer src="{% static 'js/page-load-spinner.js' %}"></script> {% endcomment %}
    {% endblock javascript %}

</head>

<body>

    {% comment %}
    <!-- Page loading spinner-->
    <div class="page-loading active">
        <div class="page-loading-inner">
            <div class="page-spinner"></div><span>Loading...</span>
        </div>
    </div>
    {% endcomment %}

    <main class="page-wrapper d-flex flex-column">

        {% comment %}
        Not needed at the moment, but let's keep it around as a comment for now:
        {% include 'partials/_signin_modal.html' %}
        {% endcomment %}

        {% include 'partials/_navbar_top.html' %}

        {% include 'partials/_messages.html' %}

        {% block page_content %}
        <!-- Page content-->
        <div class="container d-flex flex-column pt-5 mt-n6" style="flex: 1 0 auto;">
            {% block content %}This is not the content you're looking for.{% endblock content %}
        </div> <!-- /.container -->
        {% endblock page_content %}

    </main>

    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container d-md-flex align-items-center justify-content-between py-2 text-center text-md-end">
            <p class="fs-sm mb-0 me-3 order-md-1"><span class="text-muted me-1">Code by</span><a class="nav-link-style fw-normal" href="https://devfolio.raoulcapello.com/">Raoul Capello</a>.</p>
            <p class="fs-sm mb-0 me-3 order-md-1"><span class="text-muted me-1">Theme by</span><a class="nav-link-style fw-normal" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a>. © All rights reserved.</p>
        </div>
    </footer>

    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
        <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
        <i class="btn-scroll-top-icon ai-arrow-up"></i>
    </a>

    {% block modal %}{% endblock modal %}

    <!-- Vendor scripts: JS libraries and plugins-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.polyfills.min.j' %}s"></script>
    {% block vendor_scripts %}{% endblock vendor_scripts %}
    <!-- Main theme script-->
    <script src="{% static 'js/theme.min.js' %}"></script>

    {% block inline_javascript %}
    {# Script tags with only code, no src (defer by default) #}
    {% endblock inline_javascript %}
</body>

</html>
