            {% extends "base.html" %}
            {% load static i18n %}

            {% block vendor_styles %}
            <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}">
            {% endblock vendor_styles %}


            {% block page_content %}

            <!-- Page content-->
            <!-- Hero-->
            <section class="container mb-3 my-md-0 py-5 py-md-6">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-5 order-md-1 order-2 text-md-start text-center">
                        {% if portfolio.frontpage_greeting %}
                        <h1 class="display-4 mb-lg-4 mb-3">{{ portfolio.frontpage_greeting }}</h1>
                        {% else %}
                        <h1 class="display-4 mb-lg-4 mb-3">{{ portfolio.title|default:"Greeting or Project Title" }}</h1>
                        {% endif %}
                        <h2 class="mb-lg-5 mb-4 text-muted">{{ portfolio.subtitle|default:"Project Subtitle" }}</h2>
                        <div class="text-nowrap">
                            {% if portfolio.resume %}
                            <a class="btn btn-translucent-primary me-3" href="{{ portfolio.resume.url }}" download>
                                <i class="ai-arrow-down-circle mt-n1 me-2"></i>
                                Download CV
                            </a>
                            {% endif %}
                            <a class="btn btn-outline-primary" href="#portfolio" data-scroll>Portfolio</a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 order-md-2 order-1 mb-md-0 mb-grid-gutter">
                        {% if portfolio.featured_image %}
                        <img src="{{ portfolio.featured_image.url }}" alt="{{ portfolio.title|default:"Project Title" }}">
                        {% else %}
                        <img src="{% static 'img/hero-illustration.svg' %%}" alt="{{ portfolio.title|default:"Project Title" }}">
                        {% endif %}
                    </div>
                </div>
            </section>

            <!-- Skills-->
            {% if portfolio.usp1_title %}
            {% include 'partials/_services.html' %}
            {% endif %}

            <!-- Skills-->
            {% include 'partials/_skills.html' %}

            <!-- Portfolio-->
            {% if items %}
            {% include 'partials/_portfolio.html' %}
            {% endif %}

            <!-- Testimonials-->
            {% if testimonials %}
            {% include 'partials/_testimonials.html' %}
            {% endif %}

            {% endblock page_content %}

            {% block vendor_scripts %}
            <script src="{% static 'js/tiny-slider.js' %}"></script>
            <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
            <script src="{% static 'js/shuffle.min.js' %}"></script>
            <script src="{% static 'js/parallax.min.js' %}"></script>
            {% endblock vendor_scripts %}
